/* Global styles
======================================================== */
body {
  background-color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: smaller;
  margin: 1em 2em;
}

table, h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}

p {
  margin-bottom: .8em;
}

p, td, th {
  line-height: 1.3em;
}

a:link, a:visited {text-decoration: none;}
a:active, a:hover {text-decoration: underline;}
/*a:link {color: }
a:visited {color: }
a:hover {color: }*/

.code, code {
  font-family: "Courier New", Courier, monospace;
}

/* Status color code */
.public , .sent, .rss, .atom, .cdf {color: #67bc64;}
.private, .pending, .new, .static  {color: #fe6600;}
/* {color: #dd4a4a;} => Red state, not used yet */



/* Header styles
======================================================== */
#header {
  text-align: center;
  margin: 1.8em;
}

#header h1 {
  color: #fff;
  text-shadow: #999 0 0 .3em;
}



/* Main content area styles
======================================================== */
#content {
  background-color: #fff;
  border: 10px solid #ccc;
  padding: 1em;
  clear: both;
}

#content h2 {
  margin: 0 0 1em;
}

#content h4 {
  margin: 3em 0 1em;
}



/* Toolbar styles
======================================================== */
.toolbar {
}

.toolbar li {
  display: inline;
}

#navigation {
  text-align: center;
/*   margin: 0 auto; */
  font-weight: bold;
}

#navigation li {
}

#navigation li a {
  color: #666;
  background: #ccc;
  text-decoration: none;
  padding: 8px 1em;
/*    float: left; */
}

#navigation li.selected a {
  background: #fff;
  color: #000;
}

#navigation li a:hover, #navigation li.selected a:hover {
  background: #ddd;
  color: #000;
}

#personnal {
  text-align: right;
  padding: 5px 0;
}

#personnal li {
  padding: 0 .3em;
}



/* Flash Box styles
======================================================== */
.flashbox {
  padding: 5px;
  margin: 10px 0;
  border-style: solid;
  border-width: 5px;
}

#notification {
  background-color: #cfc;
  border-color: #9c9;
}

#warning {
  background-color: #fc6;
  border-color: #f93;
}



/* Forms styles
======================================================== */
.fieldWithErrors {
  border: 5px solid #f66;
}



/* Generic table style
======================================================== */
table {
  border-collapse: collapse;  /* Patch Eric Meyer's reset style CSS */
  width: 100%;
}

td, th {
  padding: .2em .4em .2em .2em;
}

th {
  vertical-align: bottom;
}

td a img {
  vertical-align: middle;
}

table thead {
  border-bottom: 2px #95b3e8 solid;
}

table thead th {
  font-weight: bold;
}

table tbody tr {
  border-bottom: 1px #ccc dotted;
}

table tbody tr:hover {
  background: #e6f0f9;
}

table .title {
  font-weight: bold;
}

table .action {
  text-align: center;
}



/* Big button style
======================================================== */
div.button {
  float: right;
}

div.button a img {
  vertical-align: middle;
}

div.button a {
  margin: 1em;
  padding: .5em;
  background: #e6f2e6;
  border: 1px solid #b7ddc8;
  text-align: center;
  display: block;
  color: #666;
  font-weight: bold;
}

div.button a:hover {
  background: #b7ddc8;
  text-decoration: none;
  color: #000;
  border-color: #65ab41;
}



/* Footer style
======================================================== */
#footer {
  color: #ccc;
  text-align: center;
  margin: 1em;
  font-size: .8em;
}

#footer a {
  color: #eee;
}
