<div class="tracker">

<h4><%= Tracker.find_by_id(tracker.tracker_id).title %></h4>
<ul>
  <% Subscription.find(:all, :conditions => [ "tracker_id = ?", tracker.tracker_id ]).each do |j| -%>
    <li><%= Profile.find_by_user_id(j.user_id).display_name %></li>
  <% end -%>
</ul>

</div>