<h2>Trackers subscriptions</h2><br>

<!-- Displays the list of trackers with, for each one, the list of users who have subscribed to it (contained in the partial _tracker.rhtml) -->
<%= render :partial => 'tracker', :collection => @trackers %>