<h2>R&eacute;capitulatif des utilisateurs par suivi</h2><br>

<!-- Affichage de la liste des suivis avec pour chacun la liste des utilisateurs abonnés (contenu dans le partial _tracker.rhtml) -->
<%= render :partial => 'tracker', :collection => @trackers %>