<h2>R&eacute;capitulatif des suivis par utilisateur</h2><br>

<!-- Affichage de la liste des utilisateurs avec pour chacun le tableau de ses suivis (contenu dans le partial _user.rhtml) -->
<%= render :partial => 'user', :collection => @users %>