<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Feed Tracking Tool</title>
  <link rel="shortcut icon" href="favicon.png" type="image/png"/>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

  <div id="header">
    <h1>Feed Tracking Tool</h1>
  </div>

  <% unless session[:user].blank? %>
    <!-- TODO: code clean tabs ! -->
    <ul id="navigation" class="toolbar">
      <li><%= link_to "Feeds", :controller => 'feed' %></li>
      <li><%= link_to "Trackers", :controller => 'tracker', :action => 'edit' %></li>
      <!--li><%= link_to "Users Statistics", :controller => 'profile', :action => 'users' %></li>
      <li><%= link_to "Trackers Statistics", :controller => 'subscription', :action => 'trackers' %></li-->
    </ul>
  <% end %>

  <div id="content">

    <% unless session[:user].blank? %>
      <!-- TODO: tab-ification of the personnal toolbar ? -->
      <ul id="personnal" class="toolbar">
        <li>Logged in as: <%= session[:user][:display_name] %></li>
        <li><%= link_to 'Dashboard', :controller => 'dashboard', :action => 'display' %></li>
        <li><%= link_to "Archives", :controller => 'dashboard', :action => 'history' %></li>
        <li><%= link_to 'Preferences', :controller => 'profile', :action => 'edit' %></li>
        <li><%= link_to 'Logout', :controller => 'login', :action => 'logout' %></li>
      </ul>
    <% end %>

    <% unless flash[:warning].blank? %>
      <div id="warning" class="flashbox"><%= flash[:warning] %></div>
    <% end %>

    <% unless flash[:notice].blank? %>
      <div id="notification" class="flashbox"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

  </div>

  <div id="footer">
    <p>Anything wrong ? Please read the famous <a href="http://www.chiark.greenend.org.uk/~sgtatham/bugs.html">How to Report Bugs Effectively</a> document before <a href="http://bugtracker.uperto.com">filling a bug report in the bugtracker</a>.</p>
    <p>Feed Tracking Tool v<%= FTT_VERSION %></p>
  </div>

</body>
</html>