<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Outil de Veille Technologique</title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

  <h1 style="color: #fff">Outil de Veille Technologique</h1>

  <% unless session[:user].blank? %>
    <ul id="navigation">
      <li><%= link_to 'Gestion des flux RSS', :controller => 'rssfeed', :action => 'manage' %></li>
      <li><%= link_to 'Edition des suivis', :controller => 'tracker', :action => 'edit' %></li>
      <li><%= link_to 'Suivis par utilisateur', :controller => 'recap', :action => 'users' %></li>
      <li><%= link_to 'Utilisateurs par suivi', :controller => 'recap', :action => 'trackers' %></li>
    </ul>
  <% end %>

  <div id="content">

    <% unless session[:user].blank? %>
        <p align=right>
      <!-- TODO: get display name from preferences -->
      Logged in as: <%= session[:user][:display_name] %>
      | <%= link_to 'Tableau de bord', :controller => 'dashboard', :action => 'display' %>
      | <%= link_to 'Mes suivis', :controller => 'subscription', :action => 'manage' %>
      | <%= link_to 'Historique', :controller => 'dashboard', :action => 'history' %>
      | <%= link_to 'Preferences', :controller => 'profile' %>
      | <%= link_to 'D&eacute;connexion', :controller => 'login', :action => 'logout' %>
          </p>
    <% end %>

    <% unless flash[:notice].blank? %>
      <div id="notification"><%= flash[:notice] %></div>
    <% end %>

    <% unless flash[:warning].blank? %>
      <div id="warning"><%= flash[:warning] %></div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>